nav {
    position: absolute; 
    top: 20px; 
    right: 20px; 
  }
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #ff9838b1;
    border-radius: 20px;  
}

header {
    background-color: #063B31;
    height: 0px;
    color: #fff;
}

.hero {
    text-align: center;
    background-color: #FFCEF9;
    border-radius: 20px;
    padding: 20px;
}
  
.hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
  
.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}
  
img {
    max-width: 100%;
    max-height: 100%;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    width: 90px;
}
.cta-button:hover {
    background-color: #555;
}

@media (max-width:767px) {
    nav {
        position: absolute; 
        top: 20px; 
        right: 0px; 
      }

    header {
        background-color: #063B31;
        color: #fff;
    }

}